body {
	background-color: #e2e2e2;
	/*background-color: #211f1e;*/
}

a {
	color: #16a085;
}

/*audio {
	background-color: #95B9C7;
}*/

.js_warning {
	display: none;
	text-align: center;
	margin-bottom: 20px;
	background-color: #FFFF99;
}

.js_warning>p {
	color: #FF0000;
	margin-bottom: 0px;
	font-size: 1.4em;
}

.stretch {
	margin: auto;
	/*width: 90%;*/
}

.sjis {
	font-size: 16px;
	line-height: 17px;
	white-space: pre;
	font-family: "IPAMonaPGothic", "Mona", "MS PGothic", monospace;
	overflow: auto;
	display: block;
	clear: left;
}

.clearfix {
	clear: both;
}

.center {
	text-align: center;
}

.wrap-left {
	float: left;
	margin-right: 15px;
}

.wrap-right {
	float: right;
	margin-left: 15px;
}

.content-container {
	margin: auto;
	margin-bottom: 40px;
	background-color: #fff;
	box-shadow: 0 15px 10px -15px rgba(0, 0, 0, 0.4);
	width: 100%;
}

.file-type {
	width: 32px;
}

.file-type-2x {
	width: 64px;
}

.references a:first-child {
	text-decoration: none;
}

.whoami {
	text-align: center;
}

.whoami-logo {
	float: none;
	text-align: center;
}

.whoami-logo img {
	width: 256px;
}

.whoami-text {
	margin-top: 10px;
}

@media (min-width : 600px) {
	.whoami {
		text-align: left;
	}

	.whoami-logo {
		float: left;
	}

	.whoami-text {
		margin-top: 100px;
	}
}

.page-header {
	padding: 20px 70px;
	padding-top: 60px;
	background-color: #edeeef;
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;

	.title {
		padding-bottom: 20px;
		font-size: 26px;
	}

	.description {
		font-size: 15px;
		color: #777;
		padding-bottom: 40px;
	}

	.text {
		color: #777;
		padding-bottom: 40px;
	}
}

/* #### Content ############################################################# */
.no-bullet {
	list-style: none;
}

.change-log-table tr td:first-child {
	font-weight: bold;
}


.post-list {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

.post-list li {
	margin-bottom: 20px;
	list-style-position: inside;
	text-indent: -1em;
	padding-left: 1em;
	line-height: 2em;
}

.post-list li:before {
	content: ">";
	border: 1px solid #444;
	padding: 1px 8px;
	color: #444;
	font-size: 16px;
	font-weight: bold;
	margin-right: 10px;
	text-decoration: none !important;
}

.post-list li a {
	font-weight: bold;
}