section.description .title,
h1 {
    padding-bottom: 20px;
    font-size: 32px;
    font-weight: 400;
}

section.description .date {
    color: #888;
    font-size: 0.8em;
}

.articles {
    padding: 20px 20px;
    max-width: 1000px;
    margin: auto;

    h2 {
        font-family: "Lucida Console", Courier, monospace;
        margin-top: 60px;
        margin-bottom: 30px;
        line-height: 1.25;
        font-weight: bold;
    }
}

.article {
    background-color: #fff;

    .article-header {
        padding: 20px 70px;
        padding-top: 60px;
        background-color: #edeeef;
        background-repeat: no-repeat;
        background-position: center center;
        text-align: center;

        .title {
            padding-bottom: 20px;
            font-size: 26px;
        }

        .description {
            font-size: 15px;
            color: #777;
            padding-bottom: 40px;
        }
    }

    .article-body {
        margin: auto;
        line-height: 1.7em;
        max-width: 1000px;
        padding: 20px 20px;

        .splash-image {
            width: 100%;
            min-height: 140px;
            text-align: center;
            background-repeat: no-repeat;
            background-size: initial;
            background-position: center center;
        }

        p {
            text-align: justify;
            margin: 0px 10px 10px 10px;
        }

        h2 {
            font-family: "Lucida Console", Courier, monospace;
            margin-top: 60px;
            margin-bottom: 30px;
            line-height: 1.25;
            font-weight: bold;
        }

        h3 {
            font-family: "Lucida Console", Courier, monospace;
            margin-top: 60px;
            margin-left: 10px;
            margin-bottom: 20px;
            line-height: 1.25;
            font-weight: normal;
        }

        .video {
            text-align: center;
            margin: 20px 0;
        }


        .pswp-gallery img {
            height: 150px;
            padding: 5px;
        }
    }
}